@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&display=swap");

.opacity-disabled {
  opacity: 0.9 !important;
}
.logo {
  font-family: "Playwrite MX", cursive;
}

.editor .ql-container {
  min-height: 200px; /* Set chiều cao tối thiểu */
}

.book-appointment-modal-content {
  overflow: auto;
  padding-bottom: 2rem;
}
